{% extends "base.html" %}
{% block content %}
<h2>Add Threat to "{{ model.name }}"</h2>
<div class="card">
  <div class="card-body">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.title.label(class="form-label") }}
          {{ form.title(class="form-control") }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.stride_category.label(class="form-label") }}
          {{ form.stride_category(class="form-select") }}
        </div>
      </div>
      <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control", rows=3) }}
      </div>
      <h5>DREAD Ratings (1-5)</h5>
      <div class="row">
        <div class="col-md-4 mb-3">
          {{ form.damage.label(class="form-label") }}
          {{ form.damage(class="form-range", min=1, max=5) }}
        </div>
        <div class="col-md-4 mb-3">
          {{ form.reproducibility.label(class="form-label") }}
          {{ form.reproducibility(class="form-range", min=1, max=5) }}
        </div>
        <div class="col-md-4 mb-3">
          {{ form.exploitability.label(class="form-label") }}
          {{ form.exploitability(class="form-range", min=1, max=5) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          {{ form.affected_users.label(class="form-label") }}
          {{ form.affected_users(class="form-range", min=1, max=5) }}
        </div>
        <div class="col-md-4 mb-3">
          {{ form.discoverability.label(class="form-label") }}
          {{ form.discoverability(class="form-range", min=1, max=5) }}
        </div>
        <div class="col-md-4 mb-3">
          {{ form.status.label(class="form-label") }}
          {{ form.status(class="form-select") }}
        </div>
      </div>
      <div class="mb-3">
        {{ form.countermeasure.label(class="form-label") }}
        {{ form.countermeasure(class="form-control", rows=2) }}
      </div>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}